.places {
    display: flex;
    max-width: 984px;
    font-size: 0;
    margin: 0 auto 92px;
    flex-direction: column;
    box-sizing: border-box;
    align-items: center;
}

@media (max-width: 1080px) {
    .places {
        max-width: 928px;
        margin-bottom: 84px;
    }
}

@media (max-width: 1024px) {
    .places {
        margin-bottom: 96px;
    }
}

@media (max-width: 425px) {
    .places {
        margin-bottom: 66px;
    }
}
