.header {
    display: flex;
    padding: 0 48px 56px;
    box-sizing: border-box;
    justify-content: space-between;
}

@media (max-width: 1080px) {
    .header {
        padding-bottom: 48px;
    }
}

@media (max-width: 928px) {
    .header {
        padding: 0 24px 48px;
    }
}

@media (max-width: 370px) {
    .header {
        padding: 0 16px 48px;
    }
}
