.lead__title {
    max-width: 720px;
    margin: 0px 0 32px;
    font-size: 96px;
    font-style: normal;
    text-align: center;
    line-height: 104%;
    font-weight: 900;
}

@media (max-width: 710px) {
    .lead__title {
        max-width: 70vw;
        font-size: 10vw;
        padding: 0 16px;
    }
}

@media (max-width: 400px) {
    .lead__title {
        max-width: 288px;
        font-size: 40px;
        line-height: 44px;
        margin-bottom: 16px;
    }
}
