.footer__list-link {
    display: flex;
    flex-wrap: wrap;
    margin: 0;
    padding: 0;
    align-content: center;
    list-style: none;
}

@media (max-width: 425px) {
    .footer__list-link {
        flex-direction: column;
        align-content: flex-start;
    }
}