.place {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    max-height: max-content;
    padding-bottom: 79px;
}

.place:last-of-type {
    padding-bottom: 0;
}

@media (max-width: 980px) {
    .place {
        padding: 0 24px 65px 24px;
    }
}

@media (max-width: 767px) {
    .place {
        padding: 0 16px;
    }
}

@media (max-width: 575px) {
    .place {
        padding-bottom: 50px;
        flex-direction: column;
        align-items: center;
    }
}

@media (max-width: 352px) {
    .place {
        max-width: 320px;
        padding: 0 0 50px;
        justify-content: center;
    }
}
